# Database connection
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=cmsdb
DB_PORT=3306

# JWT / security
JWT_SECRET=E4DE2EE57A12E8E37F2A07D5B9EC386EED45D3B2AA6C6EAE429238E8BB20BC56

# App port
PORT=8080
